# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# all *.rds files (e.g., saved simulations and models)
*.rds

# all Rmd logs
*.log

# manuscripts added to appendix 1
writing/thesis/manuscripts/*
writing/proposal/manuscripts/*

# revisions
writing/thesis/revisions/*
writing/proposal/revisions/*

# EarthData login info
earthdata-login-info.R

# NDVI rasters
data/ndvi-rasters/*

# scripts to run analyses on UBC's HPC (sockeye)
sockeye-scripts/*

# cache and files from .Rmd files
analysis/modeling/beta-location-scale-models/distributional-models-in-brms_cache
analysis/modeling/beta-location-scale-models/distributional-models-in-brms_files

# sockeye files and scripts
analysis/sockeye-scripts
